@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
}


.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 20px;
}

.font-heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 28px;
}

.text-normal {
  font-weight: 300;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-muted {
  color: rgba(0, 0, 0, 0.5);
}

.app {
  display: flex;
  justify-content: flex-start;
  background-color: #f8f7fd;
}